body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    height: 100vh;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

h1 {
    padding: 0;
    margin-top: 10px;
    font-size: 2vw;
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.svg-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    overflow-x: auto;
    padding: 1rem;
    background-color: #fafafa;
}

code {
    background-color: #e67e22;
    color: white;
    border-radius: 8px;
    font-size: small;
}

svg {
    width: 100%;
    height: auto;
    display: block;
}

#download-btn, #file-input {
    width: 40vw;
    max-width: 150px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #e67e22;
    color: #fff;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 5px;
    transition: 1s;
    font-size: smaller;
}

#download-btn:hover, #file-input:hover, input[type="file"]::file-selector-button:hover {
    background-color: #f39c12;
}

#error-message {
    margin: 10px 0;
    padding: 1rem;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    font-size: 1rem;
    display: none;
}

footer {
    padding: 1rem;
    font-size: 1rem;
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #e67e22;
    text-decoration: none;
    margin: 0 1rem;
}

footer a:hover {
    text-decoration: underline;
}

input[type="file"]::file-selector-button {
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: white;
    font-size: smaller;
    transition: 1s;
    color: #e67e22;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }  

textarea {
    text-align: center; 
    padding: 0.5rem; 
    line-height: 1rem; 
    height: auto;
    min-height: 10rem; 
}

textarea::placeholder {
    text-align: center; 
    line-height: 1rem; 
}

@media (max-width: 768px) {
    #download-btn, #file-input {
        width: 50vw;
        font-size: 0.875rem;
    }

    h1 {
        font-size: 2.5vw;
    }

    .container {
        padding: 1.5rem;
    }

    footer {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    #download-btn, #file-input {
        width: 60vw;
        font-size: 0.75rem;
    }

    h1 {
        font-size: 3vw;
    }

    .container {
        padding: 1rem;
    }

    footer {
        font-size: 0.75rem;
    }
}
